@model TestDataTables.Models.DashboardViewModel
@{
    ViewBag.Title = "Home Page";
}
@using TestDataTables.Helpers
<div class="content-wrapper">
    <div class="content-dimmer"></div>
    <header class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-9">
                    <h1 class="page-header-heading"><span class="typcn typcn-home page-header-heading-icon"></span> Home Index <small>As @User.Identity.GetName()</small></h1>
                </div>
                <div class="col-xs-12 col-md-3">
                    <button type="button" class="btn btn-transparent btn-xl btn-faded pull-right visible-lg visible-md"><span class="fa fa-paint-brush"></span> Settings</button>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <!--div class="col-lg-4">
                <!--div class="widget widget-default widget-fluctuation">
                    <header class="widget-header">
                        Users
                        <div class="widget-header-actions">
                            <span class="widget-header-action fa fa-cog"></span>
                            <span data-close-widget class="widget-header-action fa fa-close"></span>
                        </div>
                    </header>
                    <div class="widget-body">
                        <section class="widget-fluctuation-period">
                            <span class="widget-statistic-value text-success"><strong>@Model.Users.Count()</strong> <strong>Active</strong> users</span><br>
                            @*<button class="btn btn-sm btn-transparent-white" type="button"><span class="fa fa-calendar"></span> View Different Month</button>*@
                        </section>
                        <section class="widget-fluctuation-description">
                            @*<span class="widget-fluctuation-description-amount text-success">+$3,429.56</span>*@
                            <span class="widget-fluctuation-description-text">@Model.Developers.Count() Developers</span>
                            <span class="widget-fluctuation-description-text text-left">@Model.Submitters.Count() Submitters</span>
                            <span class="widget-fluctuation-description-text text-left">@Model.Testers.Count() Testers</span>
                        </section>
                    </div>
                </div>
            </div-->
            <div class="col-sm-6 col-lg-4">
                <div class="widget widget-statistic widget-primary">
                    <header class="widget-statistic-header">Users</header>
                    <div class="widget-statistic-body">
                        <span class="widget-statistic-value">@Model.Users.Count()</span>
                        <span class="widget-statistic-description"><strong>Active</strong> users</span>
                        <span class="widget-statistic-icon fa fa-user-circle-o"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="widget widget-statistic widget-primary">
                    <header class="widget-statistic-header">Projects</header>
                    <div class="widget-statistic-body">
                        <span class="widget-statistic-value"><a href="@Url.Action("Index","Projects")" style="color:white">@Model.Projects.Count()</a></span>
                        <span class="widget-statistic-description">That's <strong>$2,593 more</strong> than this quarter last year</span>
                        <span class="widget-statistic-icon fa fa-briefcase"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="widget widget-statistic widget-purple">
                    <header class="widget-statistic-header">Tickets</header>
                    <div class="widget-statistic-body">
                        <span class="widget-statistic-value">@Model.Tickets.Count()</span>
                        <span class="widget-statistic-description">That's <strong>12 less</strong> than this time last week</span>
                        <span class="widget-statistic-icon fa fa-desktop"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron">
            <h1>ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>

    </div>
</div>
